<section
  class="bg-gradient-to-r from-slate-800 to-slate-900 min-h-screen w-full flex items-center justify-center"
>
  <div
    class="w-[25rem] rounded-lg p-6 py-10 border-2 text-white border-slate-500"
  >
    <h3 class="text-xl font-bold mb-5 capitalize">Code sync</h3>
    <form
      class="flex flex-col gap-4"
      [formGroup]="editorForm"
      (ngSubmit)="handleSubmit()"
    >
      <app-input placeholder="Enter room id" formControlName="roomId" />
      <app-input placeholder="Enter username" formControlName="username" />
      <app-button variant="outline" type="submit" [disabled]="!editorForm.valid"
        >Enter room</app-button
      >
    </form>
  </div>
</section>
